<h1>Sign up</h1>
<div class="w-25 container">
<%= form_with model: @user do |form| %>
  <%if @user.errors.any? %>
    <div class="alert alert-danger">
    <% @user.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
  <% end %>
  <%= form.label :name %><br>
  <div class="mb-3">
    <%= form.text_field :name, class: "form-control"%>
  </div>
  <%= form.label :email %><br>
  <div class="mb-3">
    <%= form.text_field :email, class: "form-control" %>
  </div>
  <%= form.label :contact  %><br>
  <div class="mb-3">
    <%= form.text_field :contact_number, class: "form-control" %>
  </div>
  <%= form.label :password  %><br>
  <div class="mb-3">
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="field">
  <%= form.label "click here for signup as a admin" %>
  <%= form.check_box :is_admin %> <br />
  </div>
  <div>
    <%= form.submit "signup" %>
  </div>
  </div>
<% end %>
